################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Platform/Database/.vs/Database/v16/.suo
/Platform/Database/obj/Debug/Database.sqlprojAssemblyReference.cache
